@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
    font-family: "Roboto", sans-serif;
}

.fundo {
    background-color: #ffffff;
    margin: 3.063rem 5.625rem;
    box-shadow: 6px 6px 6px #0e1d2f;
    border-radius: 20px;
    color: #1c1c1c;
    padding: 64px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
    
}

.foto-perfil {
    border-radius: 400px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 0.625rem;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.tema button {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 400;
    background: #ffffff;
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid #0e1d2f;
}

.projetos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.projetos ul {
    padding: 0px;
}

.projetos-titulo {
    list-style: none;
    font-weight: 700;
    font-size: 36px;
}

.projetos-itens {
    list-style: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

.projetos-itens p {
    color: #1c1c1c;
    text-decoration: none;
}

/* TEMA ESCURO */

.dark {
    background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .fundo {
    background: #333439;
    color: #ffffff;
}

.dark .projetos {
    color: #1c1c1c;
}

.dark .tema .button {
    background: #1c1c1c;
    color: #ffffff;
    border: 2px solid #ffffff;
}